{{#partial "content"}}

    <div class="title">
        <h1 class="glows">WELCOME TO WILDLIFE TRACKER<br><br>THIS APP ALLOWS YOU TO REPORT SIGHTINGS OF BOTH ENDANGERED AND NON-ENDANGERED ANIMAL SPECIES<br><br>YOU WILL BE REQUIRED TO ADD AN ANIMAL TO THE LIS IF IT DOES NOT EXIST<br><br>FEEL FREE NAVIGATE THROUGH THE APP TO GET FAMILIAR WITH IT</h1>
    </div>

{{/partial}}

{{> layout.hbs}}