{{#partial "content"}}

<h1 class="glow">WELCOME TO WILDLIFE TRACKER<br>HERE YOU'LL GET TO SEE ALL ANIMALS ON OUR LIST</h1>
<br>
<br>
<br>
<br>
<br>
      <div class="row">
             <div class="col-md-6">
                <div class="card">
                   <h1 class="glow">ENDANGERED ANIMALS</h1><br><br>
                      {{#if endangeredAnimals}}
                      {{#each endangeredAnimals}}
                          <p>{{name}}</p>
                          <hr>
                      {{/each}}

                      {{else}}
                          <a href="/endangered/new" class="btn-warning btn-sm">ADD A NEW ENDANGERED ANIMAL</a>

                      {{/if}}
                    </div>
               </div>

              <div class="col-md-6">
                <div class="Kard">
                   <h1  class="glow"style="text-align:center;">NON-ENDANGERED ANIMALS</h1><br><br>

                   {{#if animals}}
                    {{#each animals}}
                      <p>{{name}}</p>
                        <hr>
                       {{/each}}


                       {{else}}
                       <a href="/animals/new" class="btn-warning btn-sm">ADD NEW NON-ENDANGERED ANIMAL</a>

                        {{/if}}
               </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}