@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');


 body{
background-image: url('images/habitats_hero_rainforest.jpg');
background-repeat: no-repeat;
height:100%;
background-size: cover;
background-position: center ;
font-family: 'El Messiri', sans-serif;
color: yellow;
font-weight:900;
font-size:20px;
border-style:inset;
border-color:green;
border-weight:80px;

}
.sight{
background-color:green;
font-size:20px;
font-weight:900;
color:;
font-family:'El Messiri', sans-serif;
 height:100%;
 animation: 1s ease-out 0s 1 slideInFromLeft;
}
.Details{
background-image: url('images/jaguar-bold.jpg');
background-repeat: no-repeat;
height:100%;
background-size: cover;
background-position: center ;
font-size:20px;
font-weight:900;
color:Yellow;
font-family:'El Messiri', sans-serif;
 height:100%;
 animation: 1s ease-out 0s 1 slideInFromLeft;
}
.animal{
background-image: url('https://www.silverkris.com/wp-content/uploads/2017/02/Kaziranga-India_Free-Stock-Image_Pexels.com_.jpeg');
background-repeat: no-repeat;
height:100%;
background-size: cover;
background-position: center ;
font-family: 'El Messiri', sans-serif;
animation: 1s ease-out 0s 1 slideInFromLeft;
}
.gs{
color: yellow;
font-family: 'El Messiri', sans-serif;
font-size:20px;
font-weight:900;
}

.gold{
font-family: 'El Messiri', sans-serif;
color:gold ;
font-size:40px;
font-weight:bold;
}




@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.welcome{

font-family:Charm;
text-align: center;
font-size: calc(2px + 18vh);
  line-height: calc(20px + 20vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #8B0000, 0 0 15px #8B0000, 0 0 20px #8B0000, 0 0 40px#8B0000, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.hero-btn{
  background: red;
  color: white;
  padding: 5px;
  width: 60%;
  position: absolute;
  bottom: 5%;
  left: 20%;
  cursor: pointer;
  font-family: 'Charm;
  font-size: 25px;
  outline: none;
  z-index: 5;
}
.hero-btn:hover{

  transition: all 0.4s ease;
  color: black;
}
.hero-btn::after{
  content: "";
  display: block;
  border:25px solid rgb(11, 68, 35);
  position: absolute;
  top: -5px;
  border-radius: 50%;
  left: -35px;
  transition: all 0.4s ease;
  z-index: 2;
}
.hero-btn:hover::after{


  cursor: pointer;
  left: 92%;
  transition: all 0.5s ease;
}
@keyframes load{
  0%{left: -100vw;}
  20%{left: -50vw;box-shadow: 0px 0px 20px rgb(255, 255, 255)}
  60%{box-shadow: 0px 0px 20px rgb(255, 255, 255)}
}
@keyframes load1{
  0%{left: -150vw;}
  20%{left: -10vw;box-shadow: 0px 0px 20px rgb(255, 255, 255)}
  60%{box-shadow: 0px 0px 20px rgb(255, 255, 255)}
}
.form-cont{
  position: relative;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10vh;
  font-family: Charm;
}
.form-cont>div{
  background:red;
  position: relative;
  height: 70%;
  text-align: center;
  padding-top: 40px;
}
.form-cont>div>a{
  display: inline-block;
  padding: 20px;
  background:red;
  color: white;
  width: 70%;
  left: 15%;
}

.form{
  position: relative;
  z-index: 3;
  width: 500px;
  margin-top: 15vh;
  color: white;
  font-weight:bold;
  font-size:20px;


}
.large{
color: white;
  font-weight:bold;
  font-size:40px;
  }
.form>h1{
  color: yellow;
  font-size: 2.3em;
}


.form>input[type=text],
.form>input[type=number]{
  background: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: 10px;;
  display: block;
  animation: formLd 1.2s linear 1;
  font-size: 1em;
}
.form>input[type=text]:nth-child(even){
	animation: formLd 0.8s linear 1;
}
@keyframes formLd{
	0%{width: 0%;border-color: green;box-shadow: 0px 2px 2px rgba(255,255,255,0.3);}
	100%{border-color: orange;box-shadow: 0px 2px 2px rgba(255,255,255,0.3);}
}

.form input[type=submit]{
  margin-top: 10px;
  background-color:red;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 20px
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
.glows {
  font-size: 30px;
  color: yellow;
  font-weight:900;
  text-align: center;

}
.glow {
  font-size: 40px;
  color: yellow;
  font-weight:900;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  background-color:black;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.formstyle{
animation: 1s ease-out 0s 1 slideInFromLeft;

}
  nav{
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    /* background: #333; */
    padding: 30px;
  }
  .card{
  background-image: url(images/kangaroos-in-sunset.jpg);
  background-repeat: no-repeat;
  height:100%;
  background-size: cover;
  background-position: center ;
  font-size:20px;
  font-weight:900;
  color:Yellow;
  font-family:'El Messiri', sans-serif;
  height:100%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .Kard{
    background-image: url(images/jaguar-bold.jpg);
    background-repeat: no-repeat;
    height:100%;
    background-size: cover;
    background-position: center ;
    font-size:20px;
    font-weight:900;
    color:Yellow;
    font-family:'El Messiri', sans-serif;
    height:100%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    }



	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
	::placeholder {
      color: gold;
    }

.font{
font-size: 80px;
}

.margin{
margin:20px;
}
.light{
      font-size: 20px;
      color: #D4AF37;
      text-align: center;
      -webkit-animation: glowing 1s ease-in-out infinite alternate;
      -moz-animation: glowing 1s ease-in-out infinite alternate;
      animation: glowing 1s ease-in-out infinite alternate;
   }
   @-webkit-keyframes glowing{
      from {
         text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4f00b6, 0 0 40px #17057c, 0 0 50px #29c2ff, 0 0 60px #96fbff, 0 0 70px #1f0352;
      }
      to {
      text-shadow: 0 0 20px #fff, 0 0 30px #2b4ebe, 0 0 40px #4276e6, 0 0 50px #4644cf, 0 0 60px #3533d1, 0 0 70px #493cbb, 0 0 80px #8beeff;
   }
}
button{
        position: relative;
      color: white;
      background-color: black;
      border: none;
      padding: 10px 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      outline-color: transparent;
    }
    button::after{
        content: '';
        position: absolute;
        transform: rotate(45deg);
        top: 5px;
        height: 20px;
        width: 20px;
        left: 0;
        transition: all 0.2s ease;

    }
    button:hover{
        box-shadow: 0 0 20px rgb(255, 255, 255);
        border-radius: 30px;
        transition-delay: 0.1s;

    }
    button:active{
        box-shadow: 0 0 60px rgb(255, 255, 255);
      transition: 0.1s ease;
    }
    button:hover::after{
        left: 100%;
      border-top: 3px solid rgb(0, 0, 0);
      border-right: 3px solid rgb(255, 255, 255);
      box-shadow: 15px -15px 20px rgb(255, 255, 255);
    }
    a{
            position: relative;
          color: white;
          background-color: black;
          border: none;
          padding: 10px 30px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          outline-color: transparent;
        }
        a::after{
            content: '';
            position: absolute;
            transform: rotate(45deg);
            top: 5px;
            height: 20px;
            width: 20px;
            left: 0;
            transition: all 0.2s ease;

        }

        a:hover{
            box-shadow: 0 0 20px rgb(255, 255, 255);
            border-radius: 30px;
            transition-delay: 0.1s;

        }
        a:active{
            box-shadow: 0 0 60px rgb(255, 255, 255);
          transition: 0.1s ease;
        }
        a:hover::after{
            left: 100%;
          border-top: 3px solid rgb(0, 0, 0);
          border-right: 3px solid rgb(255, 255, 255);
          box-shadow: 15px -15px 20px rgb(255, 255, 255);
        }
        ::placeholder {
              color: gold;
            }
            hr{
             background-color:green;

            }
            .title{
            background-image: url("/images/kangaroos-in-sunset.jpg");
            background-size:cover;

            }
            .fa {
              padding: 20px;
              font-size: 30px;
              width: 70px;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
            }

            .fa:hover {
                opacity: 0.7;
            }

            .fa-facebook {
              background: #3B5998;
              color: white;
            }

            .fa-twitter {
              background: #55ACEE;
              color: white;
            }

            .fa-google {
              background: #dd4b39;
              color: white;
            }

            .fa-linkedin {
              background: #007bb5;
              color: white;
            }



            .fa-instagram {
              background: #125688;
              color: white;
            }
            .black{
            background-color:black;
            }
            .footer{
            animation: 1s ease-out 0s 1 slideInFromLeft;
            }
            @media only screen and (max-width:800px) {
              /* For tablets: */
              .main {
                width: 80%;
                padding: 0;
              }
              .right {
                width: 100%;
              }
            }
           @media only screen and (max-width:500px) {
             /* For mobile phones: */
             .menu, .main, .right {
               width: 100%;
             }


