{{#partial "content"}}
    {{#if editEndangered}}
        <h1>WRONG DETAILS?EDIT HERE</h1>
        <form class="formstyle" action="/endangered/{{editEndangered.id}}" method="post">
            <div class="form-group">
                <label for="name">EDIT NAME:</label>
                <input id="name" placeholder="Enter Endangered animal name here......" name="name" class="form-control" type="text" value="{{editEndangered.name}}">
            </div>
            <div class="form-group">
                <label for="age">Edit this endangered animal's age:</label>
                <select id="age" name="age" class="form-control">
                    <option value="newborn">newborn</option>
                    <option value="young">young</option>
                    <option value="adult">adult</option>
                </select>
            </div>
            <div class="form-group">
                <label for="health">EDIT HEALTH:</label>
                <select id="health" name="health" class="form-control">
                    <option value="Okay">healthy</option>
                    <option value="ill">ill</option>
                    <option value="healthy">okay</option>

                </select>
            </div>
            <button type="submit" class="button btn-warning">SUBMIT</button>
        </form>
    {{else}}
        <h1>ADD NEW ENDANGERED HERE:</h1>
        <form class="formstyle" action="/endangered" method="post">
            <div class="form-group">
                <label for="name">Enter endangered animal's name</label>
                <input id="name" placeholder="Enter Endangered animal name here......" name="name" class="form-control" type="text" value="">
            </div>
            <div class="form-group">
                <label for="health">Edit this endangered animal's health:</label>
                <select id="health" name="health" class="form-control">
                    <option value="Okay">Okay</option>
                    <option value="ill">ill</option>
                    <option value="healthy">healthy</option>
                </select>
            </div>
            <div class="form-group">
                <label for="age">Edit this endangered animal's age:</label>
                <select id="age" name="age" class="form-control">
                    <option value="newborn">newborn</option>
                    <option value="young">young</option>
                    <option value="adult">adult</option>
                </select>
            </div>
            <button type="submit" class="button btn-warning">SUBMIT</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}